<div>
  <h3> Register Your Event Here </h3>
  <h6> Choose a date before {{Today}} </h6>

  <form action= "http://localhost:8083/mailer/regEvents" method =
  "POST" >
  <label> Event Title </label> <input type= "text" name= "event_title"
  />
  <label> Event Date </label> <input type = "text" name =
  "event_date"/>
  <input type = "submit" />
  
</div>
